.component-button_panel {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  border-left: solid 1px rgb(173, 170, 170);
}

.component-button_panel > div {
  width: 100%;
  display: flex;
  flex: 1 0 auto;
}